/* top image */
.container {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 30px;
}

.top-title {
  position: absolute;
  top: 55px;
  left: 50px;
  color:rgb(230, 0, 0);
  font-size: 300%;
  text-shadow: -4px 3px 4px rgba(255, 77, 77, 0.52);
  font-family: 'Roboto Mono', monospace;
}

.middle-title {
  position: absolute;
  top: 110px;
  left: 100px;
  color:rgb(230, 0, 0);
  font-size: 300%;
  text-shadow: -4px 3px 4px rgba(255, 77, 77, 0.52);
  font-family: 'Roboto Mono', monospace;
}

.bottom-title {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  color:rgb(230, 0, 0);  
}

/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  border-radius: 30px;
  background-color: rgb(244, 60, 90);
  color: white;
}

li {
  float: left;
  font-family: 'Roboto Mono', monospace;
  color: white;  
}

li a {
  display: block;
  flex: 0 1 auto; 
  list-style-type: none;
  padding: 10px;
  background-color:rgb(244, 60, 90);
  border-radius: 30px;
  text-decoration: none;
  color: rgb(38, 38, 38);
  color: white;
}

li a:hover {
background-color:rgb(244, 144, 138);
}

/* body */
body {

    background-color:rgb(186, 241, 228);
    color: white;
}

article { 
    width: 50%;
    padding: 1.5rem;
    margin: 1.5rem;
    float: left;
    color: white;
    border-radius: 30px;
    background-color:rgb(72, 185, 168);
}

header {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

p {

    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: left;
    padding: 1.5rem;
    border-radius: 30px;
    background-color:rgb(244, 144, 138);
}

aside {
    width: 30%;
    padding: 1.5rem;
    margin: 1.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    border-radius: 30px;
    background-color:rgb(72, 185, 168);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {    
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;    
}

/* tic tac toe */
#tic-tac-toe{
    color:rgb(249, 89, 101);
    text-shadow: #ffffff 1px 1px 4px;
    font-size: 250%;
}

#article-tic{
    background-color:rgb(251, 173, 193);
    color: white;
}

.flex-container{
    background-color:rgb(251, 173, 193);
    display: flex;
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
    justify-content:space-evenly;
    align-content:space-around;
}

.game-grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat()3, 1fr;
    grid-gap: 15px;
    background-color:rgb(247, 232, 221);
}

.square {
    display:flex;
    justify-content: center;
    align-content:center;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color:rgb(251, 173, 193);
    cursor: pointer;
}

.square:hover {
    display:flex;
    justify-content: center;
    align-content:center;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color:rgb(250, 158, 181);
    cursor: pointer;
}

.x::before {
    content: 'x';
    font-size: 400%;
    font-family: 'Roboto Mono', monospace;
    color: rgb(249, 89, 101);
}

.o::before {
    content: 'o';
    font-size: 400%;
    font-family: 'Roboto Mono', monospace;
    color: rgb(251, 161, 100);
}

.reset-turn {
    display: flex;
    justify-content: space-around;
}

.reset {
    border: solid 1px white;
    background-color: rgb(251, 161, 100);
    width: 30%;
    font-size: 200%;
    border-radius: 30px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

.reset:hover {
    border: solid 1px white;
    background-color: rgb(249, 89, 101);
    width: 30%;
    font-size: 200%;
    border-radius: 30px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

.turn {
    border: solid 1px white;
    background-color: rgb(251, 161, 100);
    width: 30%;
    font-size: 200%;
    border-radius: 30px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 0.5rem;
    color: white;

}

/* Tetris */
#tetris-article {
   background-color: rgb(255, 102, 102); 
}

#tetris-title {    
    color:rgb(255, 255, 255);
    font-size: 250%;
}

#score-tetris{
    width: 30%;     
    margin-top:20px;
    margin-bottom:20px;
}

#tetris-easy{
    display: inline;
    width: 30%; 
    margin-top:20px;
    margin-bottom:20px;
    border: solid 2px white;
    border-radius: 15px;
    justify-content:space-evenly;
    align-content:space-around;
    color:rgb(116, 11, 29);
    background-color: rgb(249, 196, 205);
}

#tetris-easy:hover{
    display: inline;
    width: 30%; 
    margin-top:20px;
    margin-bottom:2x0px;
    border: solid 2px white;
    border-radius: 15px;
    justify-content:space-evenly;
    align-content:space-around;
    color:white;
    background-color:rgb(243, 114, 132);
}

#tetris-medium{
    display: inline;
    width: 30%; 
    margin-top:20px;   
    margin-left:10px;
    margin-bottom:20px;
    border: solid 2px white;
    border-radius: 15px;
    justify-content:space-evenly;
    align-content:space-around;
    color:rgb(0, 46, 77);
    background-color: rgb(153, 214, 255);
}

#tetris-medium:hover{
    display: inline;
    width: 30%; 
    margin-top:20px;    
    margin-left:10px;
    margin-bottom:20px;
    border: solid 2px white;
    border-radius: 15px;
    justify-content:space-evenly;
    align-content:space-around;
    color:white;
    background-color:rgb(0, 107, 179);
}

#tetris-hard{
    display: inline;
    width: 30%; 
    margin-top:20px;
    margin-left:10px;
    margin-bottom:20px;
    border: solid 2px white;
    border-radius: 15px;
    justify-content:space-evenly;
    align-content:space-around;
    color:rgb(38, 0, 77);
    background-color: rgb(191, 128, 255);
}

#tetris-hard:hover{
    display: inline;
    width: 30%; 
    margin-top:20px;    
    margin-left:10px;
    margin-bottom:20px;
    border: solid 2px white;
    border-radius: 15px;
    justify-content:space-evenly;
    align-content:space-around;
    color:white;
    background-color:rgb(115, 0, 230);
}

.tetris-container {
    display : flex;    
    }

.tetris-grid {
    width: 250px;
    height: 500px;   
    border: solid 4px white;
    background-image: url("cat3.jpg");
    display:flex;
    flex-wrap: wrap;
}

.tetris-grid div {
    height: 25px;
    width: 25px; 
}

.mini-grid-tetris {
     margin-left: 100px;
     border: solid 4px white;
     height: 80px;
     width: 80px;
     display:flex;
     flex-wrap: wrap; 
     background-image: url("cat5.jpg");
}

.mini-grid-tetris div{
     height: 20px;
     width: 20px;
}

.Tetrokitty {    
    opacity: 0.7;    
}

audio {
    display:block;
    color: white;
    margin-left: 200px;
    margin-top: 30px;
    height: 30px;
}

#chill-music{
    font-size: 30%;
    width: 42%;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 30px;    
    margin-left: 200px; 
    background-color: rgb(255, 102, 102);
}

/* Rock Paper Scissors*/
.article-rock{
    background-color:rgb(32, 211, 215);

}

.rock-pointage{    
    background-color:rgb(32, 211, 215);
    border: solid 2px white;

}

#rock-result{
    color: white;

}

#rock-score{
    color: white;


}


.choice-rock{
    background-image: url("fist.png");
    background-size: contain; 
    width: 100px; 
    height: 100px;
    background-repeat: no-repeat;
    background-color:rgb(32, 211, 215);
}

.choice-paper{   
    background-image: url("palm.png") ;
    background-size: contain; 
    width: 100px; 
    height: 100px;    
    background-repeat: no-repeat;
    background-color:rgb(32, 211, 215);    
}

.choice-scissors{
    background-image: url("hand.png");
    background-size: contain; 
    width: 100px; 
    height: 100px;    
    background-repeat: no-repeat;
    background-color:rgb(32, 211, 215);
}

.reset-turn{


}

.rock-reset{


}

.rock-turn{


}
